body,html{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: 'Righteous', cursive, Arial;	
}
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.hidden{
	display: none;
}
.preloader {
	width: 100%;
	height: 100vh;
	z-index: 9999;
}
.preloader img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	overflow: hidden;
}
.first-section{
	width: 100%;
	height: 100vh;
	background: url('img/zebra1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	overflow: hidden;
}
.first-content{
	position: absolute;
	width: 300px;
	height: 300px;
	background: #fff;
	top: 5%;
	right: 5%;
	transform: rotate(360deg);
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}
.first-content:hover{
	transform: rotate(0deg);
	border-radius: 50%;
	background: #0b0b0b;
    	color: #fff;
	transition: all 0.3s ease-in-out;
}
.text-one{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.text-one p{
	text-align: center;
    font-weight: 600;
    font-size: 70px;
    letter-spacing: 15px;
}
@media (max-width: 600px){
	.first-content{
		width: 200px;
		height: 200px;
	}
	.text-one p, .text-two p{
		font-size: 50px;
		letter-spacing: 3px;
	}
}

.second-section{
	width: 100%;
	height: 100vh;
	background: url('img/zebra2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	overflow: hidden;
}
.first-trig{
	width: 300px;
	height: 300px;
	background: transparent;
}
.first-second-content{
	/*position: absolute;*/
	top: 0;
	left: 0;
	width: 0px;
	height: 0px;
	border-top: 150px solid #fff;
  	border-right: 150px solid transparent;
  	border-bottom: 150px solid transparent;
  	border-left: 150px solid #fff;
}
.text-two{
    position: absolute;
    top: 70px;
    left: -335px;
}
.text-two p{
	font-size: 70px;
    font-weight: 600;
    text-align: center;
}
.last-trig{
	width: 300px;
	height: 300px;
	background: transparent;
}
.last-second-content{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 0px;
	height: 0px;
	border-top: 150px solid transparent;
  	border-right: 150px solid #fff;
  	border-bottom: 150px solid #fff;
  	border-left: 150px solid transparent;
}
.text-three{
    position: absolute;
    top: 21px;
    left: 289px;
}
.text-three p{
	font-weight: 600;
    font-size: 70px;
    text-align: center;
}

.third-section{
	width: 100%;
	height: 100vh;
	background: url('img/zebra3.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	overflow: hidden;
}
.third-content{
	position: absolute;
	width: 500px;
	height: 500px;
	background: #fff;
	top: 50%;
	right: -250px;
	transform: translateY(-50%) rotate(135deg);
	cursor: pointer;
	transition: all 0.1s ease-in-out;
}
.third-content:hover{
	border-radius: 50%;
	background-color: #000;
}
.third-section p{
	position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 70px;
    font-weight: 600;
}
.fourth-section{
	width: 100%;
	height: 100vh;
	display: flex;
	position: relative;
}
.fourth-section .we {
	width: 30%;
	height: 100vh;
	position: relative;
	top: 955px;
}
.fourth-section .we p{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	font-weight: 600;
	font-size: 70px;
}
.fourth-section .fourth-content{
	width: 50%;
	height: 100vh;
	background: url('img/zebra4.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	overflow: hidden;
}
.fourth-section .eat {
	width: 30%;
	height: 100vh;
	position: relative;
	top: 955px;
}
.fourth-section .eat p{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	font-weight: 600;
	font-size: 70px;
}

.five-section{
	width: 100%;
	height: 100vh;
	background: url('img/zebra5.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	overflow: hidden;
}
.five-content{
	width: 0px;
	height: 100px;
	background-color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #fff;
}
.five-content:hover{
	color: #000;
	width: 100%;
	transition: all 0.3s ease-in-out;
}
.text-six{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.text-six p{
	width: 283px;
	font-size: 67px;
	font-weight: 600;
	letter-spacing: 10px;
}
